body {
  font-family: 'Quicksand', sans-serif;
  height: 100%; }

h1 {
  font-size: calc(30px + 2vmin); }

h2 {
  font-size: calc(25px + 2vmin); }

h3 {
  font-size: calc(20px + 2vmin); }

h4 {
  font-size: calc(15px + 2vmin); }

h4 {
  font-size: calc(10px + 2vmin); }

h6 {
  font-size: calc(5px + 2vmin); }

.active {
  color: red; }

hr.light {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
