footer {
  margin-top: 5vmin;
  position: absolute;

  // Bring this back if page is shorter than content. Should never be tho
  // bottom: 0;
  left: 0;
  right: 0;

  background-color: #e6e8ed;
  color: #282c34;
  text-align: center;
  justify-content: center;

  h6 {
    font-size: calc(5px + 1vmin);
    margin: calc(10px + 2vmin);
  }

}
